html{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 0px;
}

.header{
    height: 60px;
    line-height: 60px;
    padding: 20px;
    background-color:orange;
    display: flex;
    width: auto;
    justify-content: space-between;
    color:blue;
}

a{
    text-decoration: none;
    color: blue;
}
h1{
    margin: 0px;
}

ul{
    display: flex;
    flex-direction: row;
    margin:0px;
    padding: 0px;
    list-style: none;
}

li{
    margin-left: 20px;
}

.main{
    display: flex;
    flex-direction: row;
}

p{
    margin: 20px;
}

.content{
    width:70%;
    height: 1000px;
    background-color: lightgray;
    font-size: 20px;
}

.sidebar{
    width: 30%;
    height: 1000px;
    color: white;
    background-color: darkgray;
    font-size: 20px;
    position: absolute;
    right: 0px;
}

.blog-post{
    margin: 10px;
    background-color: white;
    border-color: lightgray;
    border-radius: 3px;
    padding:10px;
}

img{
    float: left;
    padding: 20px 0px 0px 20px;
    margin: 0px 10px 10px 0px;

}